body {
    display: grid;
    grid-template-areas:
    "header"
    "form"
    "directions";
}

header {
    text-align: center;
    grid-area: header;
}

form {
    text-align: center;
}

#coin {
    position: relatve;
    transform-style: preserve-3d;
    /* background-color: darkgray;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    padding: 50px;
    border-radius: 50%;
    background-size: contain;
    background-image: url("./assets/smiley-face.png"); */
    animation: spinning 2s infinite linear;
    animation-play-state: paused;
}

/* .hidden {
    display: none;
} */

form {
    grid-area: form;
}

form input {
    margin: 15px;
    width: 100px;
    height: 40px;
    font-size: 1.5em;
    font-family: monospace;
    background-color: lightgrey;
}

#side-a {
    position: absolute;
    margin: 15px auto;
    text-align: center;
    height: 200px;
    z-index: 1;
    backface-visibility: hidden;

}

#side-b {
    margin: 15px auto;
    text-align: center;
    height: 200px;
    transform: scaleX(-1);
}


#directions {
    grid-area: directions;
    text-align: center;
}

@keyframes spinning {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

/*
0 degrees: heads
180: tails
360: heads
720: tails
*/