body {
    display: grid;
    grid-template-areas:
    "header"
    "form"
    "directions";
}

header {
    text-align: center;
    grid-area: header;
}

form {
    text-align: center;
}

#coin {
    margin: 0 auto;
    background-color: darkgray;
    width: 50px;
    height: 50px;
    padding: 50px;
    border-radius: 50%;
    background-image: url("./assets/smiley-face.png");
    background-size: contain;
    animation: spinning 5s;
}

.hidden {
    display: none;
}

form {
    grid-area: form;
}

form input {
    margin: 15px;
    width: 100px;
    height: 40px;
    font-size: 1.5em;
    font-family: monospace;
    background-color: lightgrey;
}

#side {
    margin: 15px auto;
    text-align: center;
}

#directions {
    grid-area: directions;
    text-align: center;
}


@keyframes spinning {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(720deg);
    }
  }